body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    background: seashell;
    padding: 38px;
}

.left_side {
    display: flex;
}

nav >.left_side > div {
    margin-right: 20px ;
    font-size: 0.9em;
}

.nav-link-wrapper {
    height: 22px;
}

.nav-link-wrapper a {
    color: rosybrown;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.column {
        flex: 25%;
        padding: 10px;
    }


img {
    width: 90%;
    height: 70%;
    margin: 3%; 
}

.link_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
 }

.link_wrapper a {
    text-decoration: none;
    color: #9d7982;
    }


footer {
    background: rosybrown;
    padding: 3%;
    color: #733236;
} 

ul {
    list-style-type: none;
    padding: unset;
    text-decoration: none;
}


@media screen and (min-width: 769px) {
    body {
        background-color: #8BA4B3;
    }
  
  }

@media screen and (max-width: 768px) {
    body {
      background-color: #733236;
    }
    .row {
        flex-direction: column;
    }
  }

  @media screen and (max-width: 320px) {
    body {
      background-color: #E3DBD3;
    }
  
  }

  